.signup_background_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  padding: .7rem;
  margin-bottom: 3rem;
}

.signup_image {
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: .7rem;
  width: 60%;
  background-color: var(--whitesmoke);
  height: 85vh;
  box-shadow: 17px 17px 15px -4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.signup_image img {
  width: 80%;
  height: auto;
}

.signup_form {
  display: flex;
  flex-direction:column;
  justify-content: center;
  border-radius: 10px;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--blue);
  padding-top: 1.5rem;
  padding-left: 2rem;
  width: 40%;
  height: 85vh;
  box-shadow: 17px 17px 15px -4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.signup_fields{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup_field {
  color: var(--white);
  font-weight: bold;
  margin-left: 0%;
  margin-bottom: 1rem;
}

.signup_field input {
  border-radius: 5px;
  height: 2.3rem;
  width: 85%;
}

.signup_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 1rem;
}


.signup_actions input {
  background-color: var(--gray-light);
  color: var(--black);
  padding: .5rem;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
}

.signup_login_button {
  color: var(--black);
  text-decoration: none;
  background-color: var(--gray-light);
  border: 1px solid  var(--black);
  padding: .5rem;
  border-radius: 5px;
  font-size: medium;
  height: 100vh;
}

